# This workflow will perform a test whenever there
# is some change in code done to ensure that the
# changes are not buggy and we are getting desired output.

name: Install and Build
on: [push, pull_request]

jobs:
  test-s2i-job:
    runs-on: ubuntu-latest
    # This will install latest version of s2i and
    # to build the image and using Docker we will
    # run the image to verify the build.
    name: Install S2I and build image
    steps:

      # Checkout spring petclinic repository
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: 'go-training/helloworld'

      # Setup S2i and Build container image
      - name: Setup and Build
        uses: redhat-actions/s2i-build@v1
        with:
          path_context: '.'
          builder_image: 'registry.access.redhat.com/devtools/go-toolset-rhel7'
          image_name: go-hello-world
          image_tag: 'v1'

      # Run image to verify the build
      - name: Run image
        run: docker run go-hello-world:v1
